<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="form_question">
            
            <form action="/results" method = 'post'>

                <label for="">{{phrase}}</label><input type="text" name="name">
                <label for="">Dojo Location</label>
                
                <select name="location" id="">
                    <option value="San Jose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                </select>

                <label for="">Favorite Language</label>
                
                <select name="language" id="">
                    <option value="HTML" name = "HTML">HTML</option>
                    <option value="Python" name = "Python">Python</option>
                </select>

                <input type="submit">
            </form>
        </div>
    </div>
</body>
</html>